.bg-cafelingo {
  width: 40px;
  height: 40px;
  background: url(css_sprites.png) -1px -5px;
  background-size: 95px;
}

.bg-dresdner {
  width: 40px; height: 36px;
  background: url('css_sprites.png') -10px -126px;
}

.bg-deutsche {
  width: 40px; height: 30px;
  background: url('css_sprites.png') -126px -72px;
}

.bg-emzweb {
  width: 40px; height: 21px;
  background: url('css_sprites.png') -188px -57px;
}

.bg-favicon {
  width: 16px; height: 16px;
  background: url('css_sprites.png') -130px -126px;
}

.bg-gaba {
  width: 40px; height: 36px;
  background: url('css_sprites.png') -70px -126px;
}

.bg-lmu {
  width: 40px; height: 27px;
  background: url('css_sprites.png') -188px -10px;
}

.bg-marek {
  width: 42px; height: 42px;
  background: url('css_sprites.png') -126px -10px;
}

.bg-welldoo {
  width: 40px; height: 12px;
  background: url('css_sprites.png') -188px -98px;
}

.bg-nintendo {
  width: 40px; height: 10px;
  background: url('css_sprites.png') -188px -130px;
}