.icon {
  background-image: url('sprite.png');
}

.icon-nintendo {
  background-position: -4px -4px;
  width: 40px;
  height: 10px;
}

.icon-welldoo {
  background-position: -4px -22px;
  width: 40px;
  height: 12px;
}

.icon-emzweb {
  background-position: -4px -42px;
  width: 40px;
  height: 21px;
}

.icon-lmu {
  background-position: -4px -71px;
  width: 40px;
  height: 27px;
}

.icon-deutsche {
  background-position: -4px -106px;
  width: 40px;
  height: 30px;
}

.icon-dresdner {
  background-position: -4px -144px;
  width: 40px;
  height: 36px;
}

.icon-gaba {
  background-position: -4px -188px;
  width: 40px;
  height: 36px;
}

.icon-marek {
  background-position: -4px -232px;
  width: 40px;
  height: 40px;
}

